@{
    ViewData["Title"] = "SBI";
}
@model banking.Models.RegisterModel

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">SBI BANK</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/">HOME</a></li>
            </ul>
        </div>
    </div>
</nav>
<br>
<br>
<br>
<section class="page-section" id="contact">
    @if (ViewBag.IsSuccess)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Hurray!</strong>You have registered successfully
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">REGISTER HERE</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h1 class="masthead-heading text-uppercase mb-0">SBI</h1><br><br>
                        <form class="form-signin" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-label-group">
                                <input asp-for="PhoneNumber" type="number" id="inputfirst_name" class="form-control" placeholder="Email address">
                                <label asp-for="PhoneNumber" for="inputfirst_name">Phone Number</label>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-label-group">
                                <input type="email" asp-for="Email" id="inputEmail" class="form-control" placeholder="Email address">
                                <label asp-for="Email" for="inputEmail">Email address</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-label-group">
                                <input type="password" asp-for="Password" id="inputPassword" class="form-control" placeholder="Password">
                                <label asp-for="Password" for="inputPassword">Password</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-label-group">
                                <input type="password" asp-for="ConfirmPassword" id="inputRe_Password" class="form-control" placeholder="Password">
                                <label asp-for="ConfirmPassword" for="inputRe_Password">Confirm Password</label>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="scroll-to-top d-lg-none position-fixed">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
</div>
